anaconda-anon-usage
anaconda-auth 
anaconda-cli-base 
annotated-types 
anyio 
archspec 
boltons
brotlicffi
certifi 
cffi 
charset-normalizer 
click
conda
conda-anaconda-telemetry
conda-anaconda-tos 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
contourpy==1.3.3
cryptography 
cycler==0.12.1
distro 
et_xmlfile==2.0.0
fonttools==4.62.1
frozendict 
h11 
httpcore 
httpx 
idna 
jaraco.classes 
jaraco.context 
jaraco.functools 
joblib==1.5.3
jsonpatch 
jsonpointer 
keyring 
kiwisolver==1.5.0
libmambapy 
markdown-it-py 
matplotlib==3.10.8
mdurl 
menuinst 
mkl-service==2.5.2
mkl_fft 
mkl_random 
more-itertools 
msgpack
numpy 
openpyxl==3.1.5
packaging 
pandas 
pillow==12.1.1
pkce 
platformdirs 
pluggy 
pycosat 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
Pygments 
PyJWT 
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip 
PySocks 
python-dateutil 
python-dotenv 
pywin32-ctypes 
readchar 
requests 
rich 
ruamel.yaml 
ruamel.yaml.clib
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
semver 
setuptools==80.10.2
shellingham 
sip 
six 
sniffio 
threadpoolctl==3.6.0
tomli 
tomlkit 
tqdm
truststore
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
tzdata
urllib3
wheel==0.46.3
win_inet_pton
zstandard
