anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///C:/Users/task_177249130442320/croot/anaconda-cloud-auth-split_1772491372848/work
anaconda-cli-base @ file:///C:/Users/task_177038553276457/croot/anaconda-cli-base_1770385908202/work
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745107361/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622433823/work
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
boltons @ file:///C:/b/abs_e2_iokhxbp/croot/boltons_1751383740243/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
certifi @ file:///C:/Users/task_176765924055489/croot/certifi_1767659363027/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744975868/work
click
conda
conda-anaconda-telemetry
conda-anaconda-tos 
conda-content-trust @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-content-trust_1729088072778/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///C:/miniconda3/conda-bld/conda-package-handling_1762366515145/work
conda_package_streaming @ file:///C:/miniconda3/conda-bld/conda-package-streaming_1762361689679/work
contourpy==1.3.3
cryptography @ file:///C:/Users/task_177247529657270/croot/cryptography-split_1772475408670/work
cycler==0.12.1
distro @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/distro_1729059153117/work
et_xmlfile==2.0.0
fonttools==4.62.1
frozendict @ file:///C:/miniconda3/conda-bld/frozendict_1761750728192/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931384726/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447475275/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043388/work
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/Users/task_176947773609372/croot/jaraco.context_1769477902330/work
jaraco.functools @ file:///C:/Users/task_176838914677671/croot/jaraco.functools_1768389438594/work
joblib==1.5.3
jsonpatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jsonpatch_1729054776004/work
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
keyring @ file:///C:/miniconda3/conda-bld/keyring_1763637203252/work
kiwisolver==1.5.0
libmambapy @ file:///C:/miniconda3/conda-bld/mamba-split_1763111608356/work/libmambapy
markdown-it-py @ file:///C:/Users/task_176700171154409/croot/markdown-it-py_1767001834659/work
matplotlib==3.10.8
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552277768/work
menuinst @ file:///C:/miniconda3/conda-bld/menuinst_1765382397455/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592916781/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593076691/work
more-itertools @ file:///C:/miniconda3/conda-bld/more-itertools_1761121564395/work
msgpack @ file:///C:/b/abs_4b3t4uhz3r/croot/msgpack-python_1750958631084/work
numpy @ file:///C:/Users/task_177399617668856/croot/numpy_and_numpy_base_1773996247270/work/dist/numpy-2.4.3-cp313-cp313-win_amd64.whl#sha256=d30551f3ee8a1ab3150b36bf9aa6396c5f3f6b8b234351b9123ec4fd9a28eabe
openpyxl==3.1.5
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049099114/work
pandas @ file:///C:/Users/task_177324594225679/croot/pandas_1773246093488/work
pillow==12.1.1
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356623609/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496153123/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083582233/work
pydantic-settings @ file:///C:/miniconda3/conda-bld/pydantic-settings_1764165236385/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009799098/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431428918/work
PyJWT @ file:///C:/miniconda3/conda-bld/pyjwt_1764332257117/work
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1764009081060/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
python-dotenv @ file:///C:/Users/task_176855922952874/croot/python-dotenv_1768559755085/work
pywin32-ctypes @ file:///C:/Users/task_176829651200310/croot/pywin32-ctypes_1768296624234/work
readchar @ file:///C:/miniconda3/conda-bld/readchar_1760613474723/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611326/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375661587/work
ruamel.yaml @ file:///C:/miniconda3/conda-bld/ruamel.yaml_1762536064547/work
ruamel.yaml.clib @ file:///C:/miniconda3/conda-bld/ruamel.yaml.clib_1762530094515/work
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
semver @ file:///C:/miniconda3/conda-bld/semver_1761903323755/work
setuptools==80.10.2
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912227081/work
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329222593/work
threadpoolctl==3.6.0
tomli @ file:///C:/Users/task_176829653470725/croot/tomli_1768296655778/work
tomlkit @ file:///C:/miniconda3/conda-bld/tomlkit_1762896656167/work
tqdm
truststore
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
tzdata
urllib3
wheel==0.46.3
win_inet_pton
zstandard
